


/* === Variables === **/
$font-primary: 'Faible';
$font-secondary: 'SpoofTrial';
$break-point-xs: 420px;
$break-point-s: 576px;
$break-point-md: 782px;
$break-point-l: 992px;
$break-point-xl: 1024px;
$break-point-xxl: 1200px;

/* ===================
== Color Variables ===
**/

/* General Colors*/
$green:#004E4C;
$orange:#FAA834;
$beige:#FFF8EF;

%container {
    padding:0 70px;
 
    @media(max-width:$break-point-s) {
        padding:0 20px;
    }
}